<!DOCTYPE html>
<html>

<head>
    <title>Rumah Kita</title>
    <link href="<%= appLink %>/public/css/berhasil_reset.css" rel="stylesheet">
</head>

<body>
    <div class="flex-body">
        <div class="flex-header">
            <img src="<%= appLink %>/public/images/Logo.svg">
        </div>
        <div class="flex-content">
            <div class="container-form">
                <div class="button-close">
                   <a href="/login">X</a>
                </div>
                <div class="form-content">
                    <p class="email-content mt-1"><b>Selamat Perubahan Berhasil Disimpan</b>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
