<!DOCTYPE html>
<html>

<head>
    <title>Rumah Kita</title>
    <link href="<%= appLink %>/public/css/forgot_password.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</head>

<body>
    <div class="flex-body">
        <div class="flex-header">
            <img src="<%= appLink %>/public/images/Logo.svg">
        </div>
        <div class="flex-content">
            <div class="container-form">
                <div class="button-close">
                    <a href="/login">X</a>
                </div>

                <div class="form-content">
                    <h2 class="email-content">Masukan Email Anda</h2>
                    <h4>Silahkan klik link yang dikirimkan melalui email anda untuk mengubah kata sandi</h4>
                    <h5>Email</h5>
                    <div class="container-input">
                        <img src="<%= appLink %>/public/images/mail.png">
                        <input id="email" type="email" placeholder="Masukkan email yang terdaftar">
                    </div>
                    <div class="container-send">
                        <div id="buttonSend" onclick="sendForgotPassword('<%= appLink %>')" class="button-send">
                            <span>Kirim</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    function sendForgotPassword(appLink) {
        let buttonSend = document.getElementById('buttonSend');

        buttonSend.setAttribute('hidden', true);

        let email = document.getElementById('email');
        console.log(email.value)
        $.ajax({
            type : 'POST',
            url : `${appLink}/user/forgotpassword?email=${email.value}`,
            data : {},
            success : function(res){
                location.replace(`${appLink}/forgotpassword/success`);
            },
            error : function(jqXHR, textStatus, errorThrown){
                let error = JSON.parse(jqXHR.responseText);
                alert(error.errorMessage);
                buttonSend.removeAttribute('hidden');
            }
        })
    }

</script>
</html>