<!DOCTYPE html>
<html>

<head>
    <title>Rumah Kita</title>
    <link href="<%= appLink %>/public/css/forgot_password.css" rel="stylesheet">
</head>

<body>
    <div class="flex-body">
        <div class="flex-header">
            <img src="<%= appLink %>/public/images/Logo.svg">
        </div>
        <div class="flex-content">
            <div class="container-form">
                <div class="button-close">
                   <a href="/login">X</a>
                </div>

                <div class="form-content">
                    <h2 class="email-content">Masukan Email Anda</h2>
                    <h4>Silahkan klik link yang dikirimkan melalui email anda untuk mengubah kata sandi</h4>
                    <h5>Email</h5>
                    <div class="container-input">
                        <img src="<%= appLink %>/public/images/mail.png">
                        <input type="email" placeholder="Masukkan email yang terdaftar">
                    </div>
                    <div class="container-send">
                        <div class="button-send">
                            <span>Kirim</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>