<!DOCTYPE html>
<html>

<head>
    <title>Rumah Kita</title>
    <link href="<%= appLink %>/public/css/forgot_password.css" rel="stylesheet">
</head>

<body>
    <div class="flex-body">
        <div class="flex-header">
            <img src="<%= appLink %>/public/images/Logo.svg">
        </div>
        <div class="flex-content">
            <div class="container-content-success">
                <div class="button-close">
                   <a href="/login">X</a>
                </div>

                <div class="text-content-success">
                    <h2 class="email-content">Cek Link di Email Anda Untuk Mengganti Kata Sandi Anda</h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>