<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

</head>
<body>

    <div class="main">
        <div class="container-fluid">
            <a class="navbar-brand p-2 mx-5" href="/">
                <img src="/assets/images/logo.svg" alt="Our Home">
            </a>
        </div>
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">Bergabunglah dengan kami</h2>
                        <div class="form-group">
                            <label for="name" class="required">Nama</label>
                            <input type="text" class="form-input" name="name" id="name" placeholder="Masukkan nama lengkap"/>
                        </div>
                        <div class="form-group">
                            <label for="email" class="required">Email</label>
                            <input type="email" class="form-input" name="email" id="email" placeholder="Tuliskan emailmu disini"/>
                        </div>
                        <div class="form-group">
                            <label for="password" class="required">Kata Sandi</label>
                            <input type="text" class="form-input" name="password" id="password" placeholder="Buat kata sandi anda"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Daftar"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Have already an account ? <a href="#" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>
</body>
</html>