<!DOCTYPE html>
<html>

<head>
    <title>Rumah Kita</title>
    <link href="reset_password.css" rel="stylesheet">
    <link rel="stylesheet" href=
    "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href=
    "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity=
    "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>

<body>
    <div class="flex-body">
        <div class="flex-header">
            <img src="images/Logo.svg">
        </div>
        <div class="flex-content">
            <div class="container-form">
                <div class="button-close">
                   <a href="/login">X</a>
                </div>
                <div class="form-content">
                    <h2 class="email-content mb-3"><b>Masukan Kata Sandi Baru Anda</b>
                    <h5>Kata sandi baru</h5>
                    <div class="container-input">
                        <img src="images/lock.png">
                        <input type="password" value="FakePSW" id="password"/>
                        <i class="bi bi-eye-slash"
                            id="togglePassword"></i>
                    </div> <br>
                    <h5>Masukan ulang kata sandi</h5>
                    <div class="container-input">
                        <img src="images/lock.png">
                        <input type="password" value="FakePSW" id="password2"/>
                        <i class="bi bi-eye-slash"
                            id="togglePassword2"></i>
                    </div>
                    <div class="container-send">
                        <div class="button-send">
                            <span>Kirim</span>
                        </div>
                    </div>
                    <script>
                        const togglePassword = document
                        .querySelector('#togglePassword');

                        const password = document.querySelector('#password');
                        togglePassword.addEventListener('click', () => {
                            const type = password
                            .getAttribute('type') === 'password' ?
                            'text' : 'password'
                        
                            password.setAttribute('type', type);
                            this.classList.toggle('bi-eye');
                        });

                        const togglePassword2 = document
                        .querySelector('#togglePassword2');

                        const password2 = document.querySelector('#password2');
                        togglePassword2.addEventListener('click', () => {
                            const type = password2
                            .getAttribute('type') === 'password' ?
                            'text' : 'password'
                        
                            password2.setAttribute('type', type);
                            this.classList.toggle('bi-eye');
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
