<!DOCTYPE html>
<html>

<head>
    <title>Settings Page</title>
    <link rel="stylesheet" href="../../../public/assets/css/stylesheet_settings_page.css">
    <% include('../partials/head'); %>
</head>

<body>
    <header>
        <% if(data==false) { %>
        <%- include('../partials/headers/unregistered_header'); %>
        <% } else { %>
        <%- include('../partials/headers/registered_header'); %>
        <% } %>
    </header>

    <div class="flex-konten">
        <div class="flex-kiri">
            <div class="text-akun-saya">Akun Saya</div>
            <div class="notification-box">
                <div class="edit-profile-button">&nbsp;<img src="../../../public/assets/images/People.png"
                        alt="people">&nbsp;&nbsp; Edit
                    Profile</div>
                <div class="flex-center">
                    <div class="exit-box-button"><a href="" class="no-line">
                            <div class="exit-button"> Keluar</div>
                        </a>
                    </div>
                </div>
                <div class="dog-gif"><img src="../../../public/assets/images/GugGug.gif" alt="dog-pic"></div>
            </div>
        </div>
        <div class="flex-kanan">
            <div class="account-details-box">
                <div class="upper-account-details-box">
                    <div class="profile-pic">A</div>
                    <div class="upper-account-details">
                        <div class="account-name">Alma Lawson</div>
                        <div class="account-email">alma.lawson@example.com</div>
                        <div class="change-avatar-box"><a href="" class="no-line">
                                <div class="change-avatar">
                                    &nbsp;&nbsp;&nbsp;<img class="gallery-icon"
                                        src="../../../public/assets/images/image.png" alt="gallery">&nbsp; &nbsp;
                                    Ganti Avatar</div>
                            </a>
                        </div>
                    </div>
                </div>
                <form class="account-data">
                    <div class="text-bold">Personal</div>
                    <div class="divider-line"></div>
                    <div class="data-type">Nama Lengkap</div>
                    <div class="data-box-wrapper">
                        <input readonly class="data-box" value="Alma Lawson">
                        <a href="" class="edit-icon">
                            <img class="edit" src="../../../public/assets/images/Edit.png" alt="">
                        </a>
                    </div>
                    <div class="data-type">Email</div>
                    <div class="data-box-wrapper">
                        <input readonly class="data-box" value="alma.lawson@example.com" type="email">
                        <a href="" class="edit-icon">
                            <img class="edit" src="../../../public/assets/images/Edit.png" alt="">
                        </a>
                    </div>
                    <div class="data-type">Kata Sandi</div>
                    <div class="data-box-wrapper">
                        <input readonly class="data-box" value="*************" type="password">
                        <a href="#modal" class="edit-icon">
                            <img class="edit" src="../../../public/assets/images/Edit.png" alt="">
                        </a>
                    </div>
                    <div id="modal">
                        <div class="modal-content">
                            <p class="modal-content-head">Masukkan Kata Sandi Anda Sebelumnya</p>
                            <p class="data-change-type">Kata Sandi Sebelumnya</p>
                            <div class="data-change-box-wrapper">
                                <input class="data-change-box lock" placeholder="Ketik di sini..." type="password">
                            </div>
                            <div class="flex-center">
                                <div class="send-box-button">
                                    <a href="" class="no-line">
                                        <div class="send-button">Kirim</div>
                                    </a>
                                </div>
                            </div>
                            <a href="#a" class="close-modal no-line">X</a>
                        </div>
                    </div>
                    <div class="save-button">
                        <a href="" class="no-line">
                            <div class="save">Simpan</div>
                        </a>
                    </div>
                    <br>
                    <div class="divider-line"></div>
                    <div class="about">Tentang "Rumah Kita"</div>
            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>