<!DOCTYPE html>
<html>

<head>
    <title>Welcome Page</title>
    <link href="<%= appLink %>/public/css/stylesheet_welcome_page.css" rel="stylesheet">
</head>

<body>
    <div class="flex-container">
        <img src="<%= appLink %>/public/images/Logo.svg" alt="logo" class="logo">
        <div class="flex-konten mt-10">
            <h1 class="text-header">Your Mental Journey,<br>Is a Part of Your Story</h1>
            <h3 class="text-body">Your mental issues, doesn't define you. Your <br> strength and courage does.</h3>
            <div class="flex-container">
                <a href="/home" class="tanpa-dekorasi">
                    <div class="tombol text-inside-tombol background-membaca">Hanya Membaca</div>
                </a>
                <a href="/login" class="tanpa-dekorasi">
                    <div class="tombol text-inside-tombol background-masuk">Masuk/Daftar</div>
                </a>
            </div>
        </div>
    </div>
    </div>

</body>
<script src="<%= appLink %>/public/js/welcomePage.js"></script>
</html>
