@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f9f0fe;
}

.flex-konten {
    display: flex;
    height: 1156px;
    margin: 88px 0 286px
}

.no-line {
    text-decoration: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.text-bold {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.54px;
    text-align: left;
    color: #000;
}

/* Konten kiri */
.flex-kiri {
    width: 34%;
    margin: 0;
    padding-right: 1%;
    opacity: 0.7;
    border-radius: 7px;
    box-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 2px #ba76e5;
    background-color: white;
    flex-wrap: wrap;
}

.text-akun-saya {
    padding: 27px 45px 21px 52px;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-align: left;
    color: black;
}

.notification-box {
    width: 343px;
    height: 139px;
    margin: 21px 52px 10px;
    background-color: #f3e2fc;
    display: flex;
    flex-direction: column;
}

.edit-profile-button {
    width: 343px;
    height: 47px;
    margin: 12px 0 34px;
    padding: 5px 0;
    border-radius: 5px;
    background-color: #a92ff5;
    font-size: 24px;
    letter-spacing: 1.2px;
    text-align: left;
    color: #fff;
    display: flex;
    text-indent: 10px;
}

.exit-box-button {
    width: 263px;
    height: 30px;
    text-align: center;
    margin-top: 5px;
}

.exit-button {
    border-radius: 25px;
    background-color: rgb(255, 100, 82);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.9px;
    text-align: center;
    color: #fff;
    padding: 2px 0;
}

.dog-gif {
    width: 293.4px;
    height: 267.1px;
    margin: 486px 50.6px 0 0;
    background-color: transparent;
}

/* Konten kanan */
.flex-kanan {
    width: 62%;
    margin: 0;
    padding-left: 1%;
    border-radius: 7px;
    background-color: white;
    flex-direction: column;
    flex-wrap: wrap;
}

.account-details-box {
    width: 674px;
    height: 787px;
    margin: 82px 72px 287px 72px;
    background-color: #f5f7f9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.profile-pic {
    width: 162px;
    height: 162px;
    margin: 18px 0 0 0;
    background-color: #cbaae1;
    border-radius: 50%;
    font-size: 115px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: normal;
    text-align: center;
    color: #fff;
}

.upper-account-details-box {
    width: 600px;
    height: 250px;
    margin: 0px 0 0 25px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.upper-account-details {
    width: 400px;
    height: 100px;
    margin: 18px 0 0 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.account-name {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.72px;
    text-align: left;
    color: #000;
    margin: 30px 0 5px 0;
}

.account-email {
    font-size: 18px;
    letter-spacing: 0.9px;
    text-align: left;
    color: #9a9a9a;
    margin: 5px 0 0 0;
}

.change-avatar-box {
    width: 194px;
    height: 40px;
    text-align: center;
    flex-direction: row;
}

.change-avatar {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0;
    margin: 16px 0 0 0;
    letter-spacing: 0.54px;
    text-align: center;
    flex-direction: row;
    color: #000;
}

.gallery-icon {
    width: 20.8px;
    height: 18.7px;
}

.account-data {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
}

.divider-line {
    width: 595px;
    height: 0.5px;
    margin: 15.5px 0 26px 0px;
    background-color: #000;
}

.data-type {
    width: 119px;
    height: 23px;
    margin: 0px 57px 3px 11px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.54px;
    text-align: left;
    color: #000;
}

.data-box-wrapper {
    display: flex;
    width: 600px;
    height: 45px;
    margin-bottom: 10px;
}

.data-box {
    width: 534px;
    height: 45px;
    margin: 0;
    padding: 0 0 0 13px;
    border-radius: 10px 0 0 10px;
    background-color: white;
    border-color: transparent;
}

.edit-icon {
    width: 49px;
    height: 45px;
    border-radius: 0 10px 10px 0;
    background-color: #cbaae1;
    padding-bottom: 4px;
}

.edit {
    width: 28px;
    height: 23px;
    margin: 12.5px 14px 12.5px 12.5px;
}

.save-button {
    width: 110px;
    height: 48px;
    border-radius: 15px;
    background-color: #d6d6d6;
    margin: 50px 0 30px 0;
}

.save {
    width: 60px;
    height: 22px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000;
    padding: 15px 0px 10px 23px;
}

.about {
    width: 105px;
    height: 13px;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000;
    margin-left: 250px;
}

/* Modal */
#modal {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 496px;
    height: 302px;
    border-radius: 12px;
    border: solid 1px #000;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-content-head {
    width: 322px;
    height: 69px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    color: #212429;
    padding-top: 25px;
    justify-content: center;
    margin: 40px 0px 21px 41px;
}

.data-change-type {
    width: 139px;
    height: 18px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    color: #212429;
    margin: 0px 0px 10px 41px;
}

.data-change-box-wrapper {
    display: flex;
    width: 600px;
    height: 45px;
    margin: 0px 0px 0px 41px;
}

.data-change-box {
    width: 350px;
    height: 35px;
    border-radius: 250px;
    border: solid 1px #707070;
    color: #1b105b;
    background-color: white;
    font-size: 12px;
    letter-spacing: -0.54px;
}

.close-modal {
    position: fixed;
    top: 1%;
    right: 2%;
    text-decoration: none;
}

#modal:target {
    display: block;
}

.send-box-button {
    width: 188px;
    height: 45px;
    text-align: center;
    margin: 48.2px 0 23px 0;
    padding: 5px;
}

.send-button {
    border-radius: 125px;
    background-color: #d67eff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.9px;
    text-align: center;
    color: #fff;
    padding: 4px 0;
}

.lock {
    padding-left: 40px;
    background: url(../images/lock.png) no-repeat 3% 49%;
    background-size: 17px;
}

.close-icon {
    width: 13px;
    height: 13px;
}

/* Modal buat kata sandi salah */
#modal-wrong-password {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.data-change-box-wrong {
    width: 350px;
    height: 35px;
    border-radius: 250px;
    border: solid 1px #707070;
    color: #ca0000;
    background-color: #ffc9c9;
    font-weight: bold;
    letter-spacing: -0.54px;
    font-size: 12px;
}

#modal-wrong-password:target {
    display: block;
}

.alert {
    width: 15px;
    height: 15px;
    position: fixed;
    right: 15%;
    top: 55.5%;
}

/* Modal buat Perubahan Berhasil Disimpan */
#modal-changes-saved {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content-changes-saved {
    width: 441px;
    height: 126px;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #f3e2fc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checklist {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 43%;
    top: 7%;
}

.girl-with-dog {
    width: 85px;
    height: 85px;
    position: fixed;
    left: 7.5%;
    top: 5%;
}

.changes-saved-text {
    width: 238px;
    height: 22px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    position: fixed;
    left: 25%;
    top: 50%;
}

#modal-changes-saved:target {
    display: block;
}

/* Modal buat Ganti Avatar */
#modal-change-avatar {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content-change-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 278px;
    background: #fff;
    border: solid 0.5px #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logoutButton:hover{
    cursor: pointer;
}

.modal-change-avatar-head {
    margin-top: 20px;
    width: 110px;
    height: 42.8px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.54px;
    color: #000;
    position: fixed;
    top: -6%;
    left: 18.8px;
}

.close-modal-avatar {
    position: fixed;
    top: -3%;
    right: 0%;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

#modal-change-avatar:target {
    display: block;
}

.flex-row-avatar-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20%;
}

.flex-row-avatar-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60%;
}

.avatar-style {
    width: 84px;
    height: 86px;
    margin: 5px 5px 0 10px;
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
    outline: 5px solid black;
}