<!DOCTYPE html>
<html>
    <body>
        <audio id="player" src="https://docs.google.com/uc?export=download&id=1RIjge_OntEcAtzxonVrkX1VJ5RRJU-_k"></audio>
        <div> 
          <button onclick="document.getElementById('player').play()">Play</button> 
          <button onclick="document.getElementById('player').pause()">Pause</button> 
          <button onclick="document.getElementById('player').volume += 0.1">Vol +</button> 
          <button onclick="document.getElementById('player').volume -= 0.1">Vol -</button> 
        </div>
    </body>    
</html>