<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand p-2 mx-5" href="/">
            <h5 class="d-none">Our Home</h5>
            <img src="/assets/images/Logo.svg" alt="Our Home" width="80%" height="80%">
        </a>
        <div class="collapse navbar-collapse ms-5">
            <ul class="navbar-nav me-auto mt-2">
                <li class="nav-item me-3">
           
                    <% if(page_name==='terkini' ) { %>
                        <a role="text" class="nav-link active" aria-current="page" href="/">
                            <% } else { %>
                                <a role="text" class="nav-link" aria-current="page" href="/">
                                    <% } %>
                                        <h6>Terkini</h6>
                                </a>
                </li>
                <li class="nav-item me-3">
                    <% if(page_name==='mentalissues' ) { %>
                        <a role="text" class="nav-link active" aria-current="page" href="/mentalissues">
                            <% } else { %>
                                <a role="text" class="nav-link" aria-current="page" href="/mentalissues">
                                    <% } %>
                                        <h6>Mental Issues</h6>
                                </a>
                </li>
                <li class="nav-item me-3">
                    <% if(page_name==='lifestyle' ) { %>
                        <a role="text" class="nav-link active" aria-current="page" href="/lifestyle">
                            <% } else { %>
                                <a role="text" class="nav-link" aria-current="page" href="/lifestyle">
                                    <% } %>
                                        <h6>Gaya Hidup</h6>
                                </a>
                </li>
                <li class="nav-item me-3">
                    <% if(page_name==='cases' ) { %>
                        <a role="text" class="nav-link active" aria-current="page" href="/cases">
                            <% } else { %>
                                <a role="text" class="nav-link" aria-current="page" href="/cases">
                                    <% } %>
                                        <h6>Kasus</h6>
                                </a>
                </li>
                <li class="nav-item">
                    <% if(page_name==='saved' ) { %>
                        <a role="text" class="nav-link active" aria-current="page" href="/saved">
                            <% } else { %>
                                <a role="text" class="nav-link" aria-current="page" href="/saved">
                                    <% } %>
                                        <h6>Tersimpan</h6>
                                </a>
                </li>
            </ul>
            <!-- <form class="d-flex mx-5">
                <div class="custom-search">
                    <input type="text" class="form-control custom-search-input border-0 px-3 py-2"
                        placeholder="Cari berita lainnya">
                    <button class="custom-search-bottom px-3" type="submit">
                        <i class="fal fa-search"></i>
                    </button>
                </div>
            </form> -->
        </div>
        <div class="collapse navbar-collapse d-flex justify-content-end me-5">
            <form>
                <div class="custom-search">
                    <input type="text" class="form-control custom-search-input border-0 px-4 py-2"
                        placeholder="Cari berita lainnya">
                    <button class="custom-search-bottom px-3" type="submit">
                        <i class="fal fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</nav>